/* Stil for header */
header {
    text-align: center;
    padding: 50px 0;
    background-color: none;
}

/* Stil for header-tekst */
header h1 {
    font-size: 48px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1); /* Legg til en skyggeeffekt */
}

header p {
    font-size: 18px;
    color: #777;
    max-width: 600px;
    margin: 0 auto;
}


/* Stil for hovedinnholdet */
main {
    text-align: center; /* Justerer hovedinnholdet til midten horisontalt */
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Justerer innholdet til midten vertikalt */
    height: 100%;
    justify-content: center; /* Justerer hovedinnholdet til midten vertikalt */
    margin-top: 10px; /* Legg til plass på oversiden */
    margin-left: auto; /* Plasserer hovedinnholdet i midten horisontalt */
    margin-right: auto; /* Plasserer hovedinnholdet i midten horisontalt */
}

/* Stil for venstrestilt tekst */
main h2,
main p {
    text-align: left; /* Venstrestilt tekst inni hovedinnholdet */
}



/* Stil for navigasjonsmenyen */
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Legg til plass på oversiden */
}

nav li {
    margin: 0 15px;
}

/* Stil for knapper i navigasjonsmenyen */
nav a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e73cbf; /* Endre fargen */
    color: white;
    text-decoration: none;
    border-radius: 20px; /* Gjør hjørnene mer avrundede */
    border: none; /* Fjern kanten */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Legg til en subtil skygge */
    transition: transform 0.3s ease, background-color 0.3s ease, box-shadow 0.3s ease;
}

nav a:hover {
    background-color: #8a1d71; /* Endre farge på hover */
    transform: translateY(-2px); /* Litt heving ved hover */
    box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.15); /* Endre skyggen ved hover */
}


/* Stil for bunnteksten */
footer {
    text-align: center;
    padding: 10px;
    margin-top: auto; /* Legg til plass på oversiden */
}

/* Stil for hjerte-container */
.heart-container {
    position: fixed;
    pointer-events: none; /* Forhindrer at hjertet blokkerer klikk */
}

/* Stil for hjerte */
.heart {
    font-size: 24px;
    color: #e73cbf;
    position: absolute;
    transform-origin: center;
    transform: translate(-50%, -50%) scale(1);
    transition: transform 0.2s ease;
}